{# empty Twig template #}
{% extends "users/userpage.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet"/>

{% endblock %}

{% block third %}


    {# Exams table #}
    <div id="table">
        <table id="datatables">

            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams%}
                    <tr>
                        <td class="name-field" ><button data-url="{{ path('get_all_result') }}" type="button" class="btn btn-link" id="exam-link" data-id="{{ exam.id }}">{{ exam.name }}</button></td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    {# Table modal #}        
    <div class="modal fade in" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content modal-edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Exam results</h4>

                </div>
                <div class="table-modal-body">
                    <table id="datatables1">
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Pass Date</th>
                                <th>Mark</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/user_page/exams.js') }}"></script>
{% endblock %}